@model List<RaisingIt.RecruitmentTest.Web.Models.CampaignViewModel>

@{
    ViewBag.Title = "Home Page";
}

<h1>
    Campaigns
</h1>

@foreach (var campaign in Model)
{
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">NAME</div>
                <div class="panel-body">
                    <div class="col-xs-6">
                        <strong>Rating Stars:</strong>
                        SOMETHING
                    </div>
                    <div class="col-xs-6">
                        <strong>Cuisine Types:</strong>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
}